# App Config
APP_ENV=development
SERVER_DOMAIN=http://localhost
SERVER_PORT=8080
LOG_LEVEL=debug

# DB Config
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=affpilot_auth
DB_SSLMODE=disable

# JWT Config
JWT_SECRET=jWt#@31sExc!@#3ereadasda!!@#sflkajjhgbjhg
JWT_EXPIRY=24

# Admin
SYSTEM_ADMIN_USERNAME=admins
SYSTEM_ADMIN_PASSWORD=password
SYSTEM_ADMIN_EMAIL=admin@example.com
SYSTEM_ADMIN_USER_TYPE=system_admin

# Security
PASSWORD_SALT=ho-zo-bo-ro-lo

# Email
EMAIL_FROM=shaahid.cse@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=shaahid.cse@gmail.com
EMAIL_PASSWORD=cghljvmgaiqpsyhy
EMAIL_SECURE=true
VERIFICATION_TOKEN_TTL=5
